@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .header-overlay {
    @apply bg-black/70;
  }

  .circle-transition {
    @apply w-48 h-48 bg-black rounded-full absolute top-1/2 left-1/2 
           -translate-x-1/2 -translate-y-1/2 z-10 animate-fadeToWhite;
  }

  @keyframes fadeToWhite {
    0%,
    33% {
      background: rgba(0, 0, 0, 1); /* Completely Dark */
      box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    }
    66% {
      background: rgba(255, 255, 255, 0.5); /* Transition To Semi-White */
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.4); /* Subtle Glow */
    }
    100% {
      background: rgba(255, 255, 255, 0.5); /* Stay Semi-White */
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.4); /* Subtle Glow */
    }
  }

  .animate-fadeToWhite {
    animation: fadeToWhite 15s infinite;
  }
}